/*.top{
	background-color: aqua;
	padding: 10px 0px 10px 0;
}*/
.footercolor, nav{
	background: #6495ED;
	width: 100%;
	font-style: arial;
}
p{
	font-family: Century Gothic;
}
.navbar .navbar-nav>li>a 
{
	color: #000;
}