/*.top{
	background-color: aqua;
	padding: 10px 0px 10px 0;
}*/
nav{
	background: #FFF;
}
.footercolor{
	background: #FFF;
	width: 100%;
	font-style: arial;
	color: #000;
}
p{
	font-family: Century Gothic;
}